<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.SearchKeysMapper" >
  <resultMap id="BaseResultMap" type="com.apass.zufang.domain.entity.SearchKeys" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key_type" property="keyType" jdbcType="VARCHAR" />
    <result column="key_value" property="keyValue" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="key_status" property="keyStatus" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, key_type, key_value, user_id, key_status, created_time, updated_time, device_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_zfang_search_keys
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_zfang_search_keys
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.zufang.domain.entity.SearchKeys" useGeneratedKeys="true" keyProperty="id" >
    insert into t_zfang_search_keys (key_type, key_value, user_id, 
      key_status, created_time, updated_time, 
      device_id)
    values (#{keyType,jdbcType=VARCHAR}, #{keyValue,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{keyStatus,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{deviceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.zufang.domain.entity.SearchKeys" useGeneratedKeys="true" keyProperty="id" >
    insert into t_zfang_search_keys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keyType != null" >
        key_type,
      </if>
      <if test="keyValue != null" >
        key_value,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="keyStatus != null" >
        key_status,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keyType != null" >
        #{keyType,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null" >
        #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyStatus != null" >
        #{keyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.zufang.domain.entity.SearchKeys" >
    update t_zfang_search_keys
    <set >
      <if test="keyType != null" >
        key_type = #{keyType,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null" >
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyStatus != null" >
        key_status = #{keyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.zufang.domain.entity.SearchKeys" >
    update t_zfang_search_keys
    set key_type = #{keyType,jdbcType=VARCHAR},
      key_value = #{keyValue,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      key_status = #{keyStatus,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      device_id = #{deviceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>