*.iml
*.classpath  
*.prefs
*.project  
.settings  
.project  
.target  
.classpath  
**/.settings  
**/.classpath  
**/.eclipse  
**/target/  
target/  
bin/  
.svn  
.idea
*.gitignore
**/*.iml

zufang-ams/target/
zufang-common/target/
zufang-domain/target/
zufang-framework/target/
zufang-search/target/
zufang-service/target/
