*.iml
*.classpath  
*.prefs
*.project  
.settings  
.project  
.target  
.classpath  
**/.settings  
**/.classpath  
**/.eclipse  
**/target/  
target/  
bin/  
.svn  
.idea
*.gitignore
**/*.iml
.iml
