<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.ApartmentMapper" >
	<!-- 分页查询条件 -->
    <sql id="QueryConditionSql">
        <where>
			<if test="name!=null and name!=''"> AND name = #{name} </if>
            <if test="code!=null and code!=''"> AND code = #{code} </if>
            <if test="companyName!=null and companyName!=''"> AND company_name = #{companyName} </if>
            <if test="province!=null and province!=''"> AND province = #{province} </if>
            <if test="city!=null and city!=''"> AND city = #{city} </if>
            <if test="area!=null and area!=''"> AND area = #{area} </if>
            <if test="bankName!=null and bankName!=''"> AND bank_name = #{bankName} </if>
            <if test="bankCard!=null and bankCard!=''"> AND bank_card = #{bankCard} </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
        </where>
    </sql>
    <sql id="QueryConditionSqlBackup">
        <where>
			<if test="name!=null and name!=''"> AND name like '%${name}%' </if>
            <if test="code!=null and code!=''"> AND code = #{code} </if>
            <if test="companyName!=null and companyName!=''"> AND company_name = #{companyName} </if>
            <if test="province!=null and province!=''"> AND province = #{province} </if>
            <if test="city!=null and city!=''"> AND city = #{city} </if>
            <if test="area!=null and area!=''"> AND area = #{area} </if>
            <if test="bankName!=null and bankName!=''"> AND bank_name = #{bankName} </if>
            <if test="bankCard!=null and bankCard!=''"> AND bank_card = #{bankCard} </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="getApartmentList" resultMap="BaseResultMap" 
        parameterType="com.apass.zufang.domain.entity.Apartment">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_zfang_apartment
            <include refid="QueryConditionSqlBackup" />
        <![CDATA[ 
        ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 分页查询数量 -->
    <select id ="getApartmentListCount" resultType="java.lang.Integer"
        parameterType="com.apass.zufang.domain.entity.Apartment">
        SELECT COUNT(*) FROM t_zfang_apartment
        <include refid="QueryConditionSqlBackup" />
    </select>
</mapper>