<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.ApartmentMapper" >
    <!-- 分页查询条件 -->
    <sql id="QueryConditionSqlBackup">
        <where>
			<if test="name!=null and name!=''"> AND name like '%${name}%' </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
            <if test="code!=null and code!=''"> AND code = #{code} </if>
        </where>
    </sql>
    <!-- getApartmentListNameCount专用    公寓名称验重-->
	<sql id="QueryConditionSql">
        <where>
			<if test="name!=null and name!=''"> AND name = #{name} </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
        </where>
    </sql>
    <!-- getApartmentListCodeCount专用  公寓Code数量编组-->
    <sql id="QueryConditionSqlBackupBackup">
        <where>
            <if test="code!=null and code!=''"> AND code like '%${code}%' </if>
        </where>
    </sql>
    <!-- getApartmentListNameCount 公寓名称验重-->
    <select id ="getApartmentListNameCount" resultType="com.apass.zufang.domain.vo.ApartmentVo"
        parameterType="com.apass.zufang.domain.dto.ApprintmentQueryParams">
        SELECT 
            id id, code code, name name
        FROM t_zfang_apartment
        <include refid="QueryConditionSql" />
    </select>
    <!-- getApartmentListCodeCount 公寓Code数量编组-->
    <select id ="getApartmentListCodeCount" resultType="java.lang.Integer"
        parameterType="com.apass.zufang.domain.dto.ApprintmentQueryParams">
        SELECT COUNT(*) FROM t_zfang_apartment
        <include refid="QueryConditionSqlBackupBackup" />
    </select>
    <!-- 分页查询 -->
    <select id="getApartmentList" resultType="com.apass.zufang.domain.vo.ApartmentVo"
        parameterType="com.apass.zufang.domain.dto.ApprintmentQueryParams">
        SELECT 
            id id, code code, name name, company_name companyName, province province, city city, area area, bank_name bankName, bank_card bankCard, 
            created_time createdTime, updated_time updatedTime, created_user createdUser, updated_user updatedUser, is_delete isDelete, company_logo companyLogo
        FROM t_zfang_apartment
            <include refid="QueryConditionSqlBackup" />
        <![CDATA[ 
        ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 分页查询数量 -->
    <select id ="getApartmentListCount" resultType="java.lang.Integer"
        parameterType="com.apass.zufang.domain.dto.ApprintmentQueryParams">
        SELECT COUNT(*) FROM t_zfang_apartment
        <include refid="QueryConditionSqlBackup" />
    </select>
    <!-- 搜索所有公寓codes -->
		<select id="getApartByCity" resultMap="BaseResultMap"
		parameterType="com.apass.zufang.domain.entity.Apartment">
		SELECT a.id,a.name,a.area
		FROM
		t_zfang_apartment a,
		t_zfang_house h,
		t_zfang_house_location l
		WHERE
		a.id = h.apartment_id
		AND h.id = l.house_id
		AND l.city = #{city}
		AND a.is_delete = '00'
		AND h.is_delete = '00'
		AND l.is_delete = '00'
		AND h.status = '2'
		GROUP BY a.id
		ORDER BY a.created_time DESC;
	</select>
	
	 <!-- 搜索所有公寓codes -->
	<select id="getApartmentBylistCity" resultMap="BaseResultMap"
		parameterType="com.apass.zufang.domain.entity.Apartment">
		SELECT a.id,a.code,a.name,a.area  FROM t_zfang_apartment a
		WHERE a.id IN (SELECT apartment_id FROM  t_zfang_house h
		LEFT JOIN t_zfang_house_location l ON  h.id=l.house_id
		WHERE l.city= #{city} 
		AND h.is_delete = '00'
		AND l.is_delete = '00' 	
		GROUP BY h.apartment_id)
		AND a.is_delete = '00'
		ORDER BY a.created_time DESC;
	</select>

	<select id="listAllValidApartment" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_zfang_apartment
		<include refid="QueryConditionSqlBackup" />
	</select>
</mapper>