<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.HouseMapper" >
	<!-- 初始es分页查询条件 -->
    <sql id="QueryConditionSql">
        <where>
			<if test="houseCode!=null and houseCode!=''"> AND code = #{houseCode} </if>
			<if test="listTimeStr=='yes'">  AND CURRENT_TIMESTAMP > list_time </if>
            <if test="apartmentId!=null and apartmentId!=''"> AND apartment_id = #{apartmentId} </if>
            <if test="type!=null and type!=''"> AND type = #{type} </if>
            <if test="title!=null and title!=''"> AND title = #{title} </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
            <if test="status!=null">
                AND status in
                <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>
    
    <!-- 房屋信息管理中心 -->
    <sql id="QueryHouseConditionSql">
       <where>
            <if test="apartmentCode!=null and apartmentCode!=''">
            	AND apart.code = #{apartmentCode}
            </if>
	        <if test="apartmentName!=null and apartmentName!=''">
	            AND apart.name LIKE '%${apartmentName}%'
	        </if>
	        <if test="houseTitle!=null and houseTitle!=''"> 
	            AND house.title LIKE '%${houseTitle}%'
	        </if>
	        <if test="houseCode!=null and houseCode!=''"> 
	            AND house.code = #{houseCode} 
	        </if>
	        <if test="province!=null and province!=''">
	            AND location.province = #{province} 
	        </if>
	        <if test="city!=null and city!=''">
	            AND location.city = #{city} 
	        </if>
	        <if test="district!=null and district!=''">
	            AND location.district = #{district} 
	        </if>
	        <if test="street!=null and street!=''">
	            AND location.street = #{street} 
	        </if>
	        <if test="isDelete!=null and isDelete!=''"> 
	            AND house.is_delete = #{isDelete} AND apart.is_delete = #{isDelete} AND location.is_delete = #{isDelete}
	        </if>
	        <if test="status!=null">
	            AND status in
	            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
	                #{item}
	            </foreach>
	        </if>
        </where>
    </sql>
    
	<!-- 初始化es查询 -->
    <select id="getReserveHouseLists" resultMap="BaseResultMap" 
        parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_zfang_house
            <include refid="QueryConditionSql" />
        <![CDATA[ 
        ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 分页查询数量 -->
    <select id ="getHouseList" resultMap="BaseResultMap"
            parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_zfang_house
        <include refid="QueryConditionSql" />
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 分页查询数量 -->
    <select id ="getHouseListCount" resultType="java.lang.Integer"
       parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT COUNT(*) FROM t_zfang_house
        <include refid="QueryConditionSql" />
    </select>
    
    <!-- 房源信息管理 -->
    <select id="getHouseLists" resultType="com.apass.zufang.domain.vo.HouseBagVo" 
        parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT 
            apart.id apartId,
            apart.name apartName,
            house.id houseId,
            house.code houseCode,
            house.title title,
            house.status status,
            house.community_name communityName,
            house.room room,
            house.hall hall,
            house.wei  wei,
            house.rent_amt rentAmt,
            house.zujin_type zujinType
        FROM t_zfang_house house 
        left join t_zfang_apartment apart on house.apartment_id = apart.id
        left join t_zfang_house_location location on house.id = location.house_id
        <include refid="QueryHouseConditionSql" />
        ORDER BY house.created_time DESC
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 房源信息管理分页查询数量 -->
    <select id ="getHouseListsCount" resultType="java.lang.Integer"
       parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT 
            COUNT(*)
        FROM t_zfang_house house 
        left join t_zfang_apartment apart on house.apartment_id = apart.id
        left join t_zfang_house_location location on house.id = location.house_id
        <include refid="QueryHouseConditionSql" />
        ORDER BY house.created_time DESC
    </select>
    
    <!--品牌公寓热门房源列表查询  热门房源分页查询                
     	查询列表字段    
     	热门排序  公寓ID，公寓名称，房源ID，房源编码,房源状态，房源标题（名称），小区名称，户型（室厅卫）租金 付款方式
   		查询条件 是否热门 公寓名称 房源标题（名称）房源编码 所在区域  -->
    <select id="getHotHouseList" resultType="com.apass.zufang.domain.vo.HouseVo"
    	parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
    	<![CDATA[
        SELECT 
        	x.sort_no sortNo,
        	y.id apartmentid,y.name apartmentName,
        	x.id houseId,x.code houseCode,x.title title,
        	x.community_name communityName,
        	x.rent_amt rentAmt,x.zujin_type zujinType,
        	x.room room,x.hall hall,x.wei wei,
        	x.status houseStatus,
        	CASE WHEN x.type = 1 THEN '设置为热门' ELSE '取消设置' END houseType
        FROM t_zfang_house x
       	LEFT JOIN t_zfang_apartment y on y.id = x.apartment_id
       	join t_zfang_house_location z on z.house_id = x.id
       	WHERE 1=1 
       	]]>
    	<if test="houseType!=null and houseType!=''"> AND x.type = #{houseType} </if>
    	<if test="apartmentName!=null and apartmentName!=''"> AND y.name LIKE '%${apartmentName}%' </if>
    	<if test="houseTitle!=null and houseTitle!=''"> AND x.title LIKE '%${houseTitle}%' </if>
    	<if test="houseCode!=null and houseCode!=''"> AND x.code = #{houseCode} </if>
    	
		<if test="province!=null and province!=''"> AND z.province = #{province} </if>
        <if test="city!=null and city!=''"> AND z.city = #{city} </if>
        <if test="district!=null and district!=''"> AND z.district = #{district} </if>
        <if test="street!=null and street!=''"> AND z.street = #{street} </if>
	        
    	<if test="isDelete!=null and isDelete!=''"> AND x.is_delete = #{isDelete} AND y.is_delete = #{isDelete} AND z.is_delete = #{isDelete} </if>
        <![CDATA[ 
        	ORDER BY x.type DESC,x.sort_no ASC,x.created_time DESC
       	]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    
    <!-- init城市 -->
	<select id="initCity" resultType="com.apass.zufang.domain.vo.HouseVo">
        <![CDATA[
	   		SELECT l.city
	   		FROM
	   			t_zfang_house h,
	   			t_zfang_house_location l,
	   			t_zfang_apartment a
	   		WHERE
	   		h.id = l.house_id
	   		AND h.apartment_id = a.id
	   		AND h. STATUS = '2'
	   		AND h.is_delete = '00'
	   		AND a.is_delete = '00'
	   		AND l.is_delete = '00'
	   		GROUP BY
	   			l.city ASC
        ]]>
	</select>
    <!-- 查询房源List -->
    <select id="getHouseById" parameterType="java.util.Map" resultType="com.apass.zufang.domain.vo.HouseVo">
        <![CDATA[
        SELECT
				h.id			houseId,
				h.title			title,
				h.rent_amt		rentAmt,
				h.room			room,
				h.hall			hall,
				h.wei			wei,
				h.acreage		acreage,
				l.province		province,
				l.city			city,
				l.district		district,
				l.street		street,
				l.detail_addr	detailAddr,
				l.longitude longitude,
				l.latitude	latitude
				FROM
				t_zfang_house h,
				t_zfang_house_location l,
				t_zfang_apartment a
				WHERE
				h.id = l.house_id
				AND h.apartment_id = a.id
				AND h.is_delete = '00'
				AND l.is_delete = '00'
				AND h.status = '2'
				AND h.apartment_id = #{apartId}
				AND l.city = #{city}
        ]]>
        <![CDATA[
	      ORDER BY h.page_view DESC;
        ]]>
    </select>
    <!--电话预约管理 房源列表查询 
    	&查询列表字段     
    	公寓ID，公寓名称，小区名称，房源ID，房源标题（名称）,房源编码，房源状态，
    	所在城市，所在区域，所在街道，租金，户型（室厅卫），面积，是否独立厨、卫，
    	付款方式，出租类型
   		&查询条件 
   		公寓名称  小区名称 房源标题（名称）房源编码  所在城 区 街 房源状态 
   		面积 上下限 是否独立厨、卫，创建时间上下限
   		
   		AND CASE x.rent_type
       		WHEN '1' THEN 
       			<if test="houseAcreageFloor!=null and houseAcreageFloor!=''"> <![CDATA[ AND x.acreage >= #{houseAcreageFloor} ]]></if>
       			<if test="houseAcreageCeiling!=null and houseAcreageCeiling!=''"> <![CDATA[ AND x.acreage <= #{houseAcreageCeiling} ]]></if>
       		WHEN '2' THEN 
       			<if test="houseAcreageFloor!=null and houseAcreageFloor!=''"> <![CDATA[ AND x.room_acreage >= #{houseAcreageFloor} ]]></if>
       			<if test="houseAcreageCeiling!=null and houseAcreageCeiling!=''"> <![CDATA[ AND x.room_acreage <= #{houseAcreageCeiling} ]]></if>
       	ELSE '其他' END
    -->
    <select id="getHouseListForPhoneAppointment" resultType="com.apass.zufang.domain.vo.HouseAppointmentVo" 
        parameterType="com.apass.zufang.domain.dto.HouseAppointmentQueryParams">
        <![CDATA[
        SELECT 
			y.id apartmentId,
			y.`name` apartmentName,
			y.`code` apartmentCode,
			x.id houseId,
			x.community_name communityName,
			x.title houseTitle,
			x.`code` houseCode,
			x.`status` houseStatus,
			z.province houseProvince,
			z.city houseCity,
			z.district houseDistrict,
			z.street houseStreet,
			z.detail_addr houseDetailAddr,
			x.rent_amt houseRentAmt,
			x.zujin_type houseZujinType,
			x.room houseRoom,
			x.hall houseHall,
			x.wei houseWei,
			x.rent_type houseRentType,
			x.acreage houseAcreage,
			x.room_acreage houseRoomAcreage,
			x.hezu_resource houseHezuResource,
			x.chaoxiang houseChaoxiang,
			x.hezu_chaoxiang houseHezuChaoxiang,
			CASE WHEN a1.id >0 THEN '是' ELSE '否' END houseKitchenFalg,
       		CASE WHEN a2.id >0 THEN '是' ELSE '否' END houseToiletFalg,
       		x.created_time createdTime,
       		x.created_user createdUser
        FROM t_zfang_house_location z
			LEFT JOIN t_zfang_house x ON x.id = z.house_id  
        	LEFT JOIN t_zfang_apartment y ON y.id = x.apartment_id
        	LEFT JOIN t_zfang_house_peizhi a1 ON a1.house_id = x.id AND a1.`name` = '独卫' AND a1.is_delete = '00'
        	LEFT JOIN t_zfang_house_peizhi a2 ON a2.house_id = x.id AND a2.`name` = '可做饭' AND a2.is_delete = '00'
       	WHERE 1=1 AND x.is_delete = '00' AND y.is_delete = '00' AND z.is_delete = '00'
       	]]>
       	<if test="apartmentName!=null and apartmentName!=''"> AND y.`name` LIKE '%${apartmentName}%' </if>
       	<if test="communityName!=null and communityName!=''"> AND x.community_name LIKE '%${communityName}%' </if>
       	<if test="houseTitle!=null and houseTitle!=''"> AND x.title LIKE '%${houseTitle}%' </if>
       	<if test="houseCode!=null and houseCode!=''"> AND x.`code` = #{houseCode} </if>
       	<if test="houseCity!=null and houseCity!=''"> AND z.city = #{houseCity} </if>
       	<if test="houseDistrict!=null and houseDistrict!=''"> AND z.district = #{houseDistrict} </if>
       	<if test="houseStreet!=null and houseStreet!=''"> AND z.street = #{houseStreet} </if>
       	<if test="houseStatus!=null and houseStatus!=''"> AND x.`status` = #{houseStatus} </if>
       	
       	<if test="houseAcreageFloor!=null and houseAcreageFloor!=''"> <![CDATA[ AND x.acreage >= #{houseAcreageFloor} ]]></if>
    	<if test="houseAcreageCeiling!=null and houseAcreageCeiling!=''"> <![CDATA[ AND x.acreage <= #{houseAcreageCeiling} ]]></if>
       			
       	<if test="houseCreatedFloor!=null and houseCreatedFloor!=''"> <![CDATA[ AND x.created_time >= #{houseCreatedFloor} ]]></if>
       	<if test="houseCreatedCeiling!=null and houseCreatedCeiling!=''"> <![CDATA[ AND x.created_time <= #{houseCreatedCeiling} ]]></if>
       	<if test="houseKitchenFalg!=null and houseKitchenFalg!=''"> AND (CASE WHEN a1.id >0 THEN '是' ELSE '否' END) = #{houseKitchenFalg} </if>
       	<if test="houseToiletFalg!=null and houseToiletFalg!=''"> AND (CASE WHEN a2.id >0 THEN '是' ELSE '否' END) = #{houseToiletFalg} </if>
        <![CDATA[ 
        ORDER BY x.created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>

    <select id="queryHouseBasicEntityByEntity" resultType="com.apass.zufang.domain.vo.HouseAppSearchVo">
        SELECT
            zhouseImg.url url,
            zhouse.title houseTitle,
        location.detail_addr detailAddr,
        zhouse.room room,
        zhouse.hall hall,
        zhouse.wei wei,
        zhouse.floor floor,
        zhouse.acreage acreage,
        zhouse.rent_amt rentAmt,
        CONCAT(room,hall,wei,'-',acreage,'m2') houseDes
        from t_zfang_house zhouse
        LEFT JOIN t_zfang_house_img zhouseImg ON zhouse.id = zhouseImg.house_id
        LEFT JOIN t_zfang_house_location location ON zhouse.id = location.house_id
        WHERE zhouse.title = #{} or zhouse.community_name = #{} or location.detail_addr = #{}
        ORDER BY zhouse.page_view
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
</mapper>