<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.HouseMapper" >
	<!-- 分页查询条件 -->
    <sql id="QueryConditionSql">
        <where>
			<if test="code!=null and code!=''"> AND code = #{code} </if>
            <if test="apartmentId!=null and apartmentId!=''"> AND apartment_id = #{apartmentId} </if>
            <if test="type!=null and type!=''"> AND type = #{type} </if>
            <if test="title!=null and title!=''"> AND title = #{title} </if>
            <if test="isDelete!=null and isDelete!=''"> AND is_delete = #{isDelete} </if>
            <if test="status!=null and status!=''">
              status in 
              <foreach item="item" index="index" collection="status" open="(" separator="," close=")">  
                 #{item}  
              </foreach>  
            </if>
        </where>
    </sql>
	<!-- 分页查询 -->
    <select id="getHouseList" resultMap="BaseResultMap" 
        parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_zfang_house
            <include refid="QueryConditionSql" />
        <![CDATA[ 
        ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    <!-- 分页查询数量 -->
    <select id ="getHouseListCount" resultType="java.lang.Integer"
       parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
        SELECT COUNT(*) FROM t_zfang_house
        <include refid="QueryConditionSql" />
    </select>
    <!--品牌公寓热门房源列表查询  热门房源分页查询                
     	查询列表字段    热门排序  公寓ID，公寓名称，房源ID，房源编码，房源标题（名称），小区名称，户型（室厅卫）
   		查询条件 是否热门 公寓名称 房源标题（名称）房源编码 所在区域  -->
    <select id="getHotHouseList" resultType="com.apass.zufang.domain.vo.HouseVo"
    	parameterType="com.apass.zufang.domain.dto.HouseQueryParams">
    	<![CDATA[
        SELECT 
        	x.sort_no sortNo,
        	y.id apartmentid,y.name apartmentName,
        	x.id id,x.code houseCode,x.title title,
        	x.community_name communityName,x.room room,x.hall hall,x.wei wei
        FROM t_zfang_house x
       	LEFT JOIN t_zfang_apartment y on y.id = x.apartment_id
       	WHERE 1=1 
       	]]>
    	<if test="houseType!=null and houseType!=''"> AND x.type = #{houseType} </if>
    	<if test="apartmentName!=null and apartmentName!=''"> AND x.apartment_name = #{apartmentName} </if>
    	<if test="houseTitle!=null and houseTitle!=''"> AND x.title = #{houseTitle} </if>
    	<if test="houseCode!=null and houseCode!=''"> AND x.house_code = #{houseCode} </if>
    	<if test="houseArea!=null and houseArea!=''"> AND x.area = #{houseArea} </if>
    	<if test="isDelete!=null and isDelete!=''"> AND x.is_delete = #{isDelete} AND y.is_delete = #{isDelete}</if>
        <![CDATA[ 
        	ORDER BY x.type DESC,x.sort_no ASC,x.created_time DESC
       	]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
    
    <!-- init城市 -->
    <select id="initCity" resultType="com.apass.zufang.domain.vo.HouseVo">
        <![CDATA[
        SELECT
			l.city
		FROM
			t_zfang_house h,
			t_zfang_house_location l
		WHERE
			h.id = l.house_id
		AND h.status = '3'
		AND h.is_delete = '00'
		GROUP BY l.city ASC
        ]]>
    </select>
    <!-- 查询房源List -->
    <select id="getHouseByID" parameterType="java.util.List" resultType="com.apass.zufang.domain.vo.HouseVo">
        <![CDATA[
        SELECT
				h.id			id,
				h.title			title,
				h.rent_amt		rentAmt,
				h.room			room,
				h.hall			hall,
				h.wei			wei,
				h.acreage		acreage,
				i.url			pictures,
				l.detail_addr	detailAddr
			FROM
				t_zfang_house h,
				t_zfang_house_img i,
				t_zfang_house_location l,
				t_zfang_apartment a
			WHERE
				h.id = i.house_id = l.house_id
				AND h.status = '3'
				AND h.apartment_id in
        ]]>
        <foreach collection="list" item="employeeId" index="index" open="(" separator="," close=")">
				#{employeeId}
        </foreach>
        <![CDATA[
	      ORDER BY h.page_view DESC LIMIT 0,5;
        ]]>
    </select>
    <!-- 电话预约管理 房源列表查询 -->
    <select id="getHouseList" resultMap="com.apass.zufang.domain.vo.HouseVo" 
        parameterType="com.apass.zufang.domain.dto.HouseAppointmentQueryParams">
        <![CDATA[
        SELECT 
        	
        FROM t_zfang_house x
       	WHERE 1=1 
       	]]>
       	<if test="houseName!=null and houseName!=''"> AND x.name = #{houseName} </if>
        <![CDATA[ 
        ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
</mapper>