<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.HouseLocationMapper" >
   <select id="getLocationByHouseId" resultMap="BaseResultMap">
        SELECT 
            <include refid="Base_Column_List" />
        FROM t_zfang_house_location
        WHERE is_delete = '00' AND house_id= #{houseId}
   </select>
   	<!-- init附近房源Bycity -->
    <select id="initHouseByCity" resultType="com.apass.zufang.domain.vo.HouseVo"
    	parameterType="java.util.Map">
    	<![CDATA[
			SELECT
				h.id			houseId,
				h.title			title,
				h.rent_amt		rentAmt,
				h.room			room,
				h.hall			hall,
				h.wei			wei,
				h.acreage		acreage,
				l.province		province,
				l.city			city,
				l.district		district,
				l.street		street,
				l.detail_addr	detailAddr,
				l.longitude longitude,
				l.latitude	latitude
			FROM
				t_zfang_house h,
				t_zfang_house_location l,
				t_zfang_apartment a
			WHERE
				h.id = l.house_id
				AND h.apartment_id = a.id
				AND h.is_delete = '00'
				AND h.type = #{type}
				AND h.status = '2'
				AND l.city = #{city}
       	]]>
       			<if test="type!=null and type!='' and type == 2">ORDER BY h.sort_no ASC</if>
       			<if test="type!=null and type!='' and type == 1">ORDER BY h.page_view DESC;</if>
    </select>
</mapper>