<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.SubmitMessageMapper" >
	<!-- 分页查询 -->
    <select id="getSubmitMessageList" resultType="com.apass.zufang.domain.entity.SubmitMessage"
        parameterType="com.apass.zufang.domain.dto.SubmitMessageQueryParams">
        <![CDATA[ 
        SELECT 
            id id, user_id userId, phone phone,user_name userName, submit_message submitMessage, submit_time submitTime,
            created_time createdTime, updated_time updatedTime, 
            created_user createdUser, updated_user updatedUser,
            picture_url pictureUrl,is_delete isDelete
        FROM t_zfang_submit_message 
        WHERE is_delete = '00'
        ]]>
        	<if test="phone!=null and phone!=''"> AND phone = #{phone} </if>
        	<if test="submitTimeStart!=null and submitTimeStart!=''"> <![CDATA[ AND submit_time >= #{submitTimeStart} ]]></if>
       		<if test="submitTimeEnd!=null and submitTimeEnd!=''"> <![CDATA[ AND submit_time <= #{submitTimeEnd} ]]></if>
       	<![CDATA[ 
       	ORDER BY created_time DESC
        ]]>
        <if test="startRecordIndex != null">
            <include refid="PAGINATION.MYSQL_PAGINATION" />
        </if>
    </select>
</mapper>