<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.WorkCityJdMapper">
    <select id="selectDateByParentId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_zufang_work_city_jd
        where parent = #{code}
    </select>

	<select id="selectCodeByName" resultMap="BaseResultMap" parameterType="com.apass.zufang.domain.dto.WorkCityJdParams">
        select
          CODE code,
          PROVINCE province,
          CITY city,
          DISTRICT district,
          TOWNS towns
        from t_zufang_work_city_jd
        where 1=1
        <if test="province!=null and province!=''">
            AND province = #{province} 
        </if>
        <if test="city!=null and city!=''">
            AND city = #{city} 
        </if>
        <if test="district!=null and district!=''">
            AND district = #{district} 
        </if>
        <if test="street!=null and street!=''">
            AND towns = #{street} 
        </if>
    </select>
</mapper>
