<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apass.zufang.mapper.zfang.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.apass.zufang.domain.entity.Banner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="banner_type" property="bannerType" jdbcType="TINYINT" />
    <result column="banner_img_url" property="bannerImgUrl" jdbcType="VARCHAR" />
    <result column="banner_sort_no" property="bannerSortNo" jdbcType="BIGINT" />
    <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="updated_user" property="updatedUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, banner_type, banner_img_url, banner_sort_no, banner_url, created_time, updated_time, 
    created_user, updated_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_zfang_banner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_zfang_banner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.apass.zufang.domain.entity.Banner" useGeneratedKeys="true" keyProperty="id" >
    insert into t_zfang_banner (banner_type, banner_img_url, banner_sort_no, 
      banner_url, created_time, updated_time, 
      created_user, updated_user)
    values (#{bannerType,jdbcType=TINYINT}, #{bannerImgUrl,jdbcType=VARCHAR}, #{bannerSortNo,jdbcType=BIGINT}, 
      #{bannerUrl,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{createdUser,jdbcType=VARCHAR}, #{updatedUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apass.zufang.domain.entity.Banner" useGeneratedKeys="true" keyProperty="id" >
    insert into t_zfang_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerType != null" >
        banner_type,
      </if>
      <if test="bannerImgUrl != null" >
        banner_img_url,
      </if>
      <if test="bannerSortNo != null" >
        banner_sort_no,
      </if>
      <if test="bannerUrl != null" >
        banner_url,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="updatedUser != null" >
        updated_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerType != null" >
        #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="bannerImgUrl != null" >
        #{bannerImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerSortNo != null" >
        #{bannerSortNo,jdbcType=BIGINT},
      </if>
      <if test="bannerUrl != null" >
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedUser != null" >
        #{updatedUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apass.zufang.domain.entity.Banner" >
    update t_zfang_banner
    <set >
      <if test="bannerType != null" >
        banner_type = #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="bannerImgUrl != null" >
        banner_img_url = #{bannerImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerSortNo != null" >
        banner_sort_no = #{bannerSortNo,jdbcType=BIGINT},
      </if>
      <if test="bannerUrl != null" >
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedUser != null" >
        updated_user = #{updatedUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apass.zufang.domain.entity.Banner" >
    update t_zfang_banner
    set banner_type = #{bannerType,jdbcType=TINYINT},
      banner_img_url = #{bannerImgUrl,jdbcType=VARCHAR},
      banner_sort_no = #{bannerSortNo,jdbcType=BIGINT},
      banner_url = #{bannerUrl,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_user = #{createdUser,jdbcType=VARCHAR},
      updated_user = #{updatedUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>