<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CRM权限管理-权限资源 Mybatis Mapper -->
<mapper namespace="PermissionsDO">
	<!-- 查询条件 -->
	<sql id="QueryConditionSql">
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="permissionCode != null and permissionCode != ''">
				AND PERMISSION_CODE = #{permissionCode, jdbcType=VARCHAR}
			</if>
			<if test="permissionName != null and permissionName != ''">
				AND PERMISSION_NAME LIKE '%${permissionName}%'
			</if>
			<if test="neId != null and neId != ''">
				AND ID != #{neId, jdbcType=VARCHAR}
			</if>
			<if test="isDelete != null and isDelete != ''">
				AND IS_DELETE = #{isDelete, jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	<!-- insert -->
	<insert id="insert" parameterType="PermissionsDO">
	<![CDATA[
		INSERT INTO T_RBAC_PERMISSIONS (ID, PERMISSION_CODE, PERMISSION_NAME,
		DESCRIPTION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME,IS_DELETE) 
		VALUES 
		(#{id, jdbcType=VARCHAR}, #{permissionCode, jdbcType=VARCHAR}, 
		#{permissionName, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, 
		#{createdBy, jdbcType=VARCHAR},	CURRENT_TIMESTAMP, 
		#{updatedBy, jdbcType=VARCHAR},	CURRENT_TIMESTAMP,
		#{isDelete, jdbcType=VARCHAR}
		)
	]]>
	</insert>
	<!-- select -->
	<select id="select" parameterType="PermissionsDO" resultType="PermissionsDO">
	<![CDATA[
		SELECT ID                 ID,
			   PERMISSION_CODE    PERMISSIONCODE,
			   PERMISSION_NAME    PERMISSIONNAME,
			   DESCRIPTION        DESCRIPTION,
			   CREATED_BY         CREATEDBY,
			   CREATED_TIME       CREATEDTIME,
			   UPDATED_BY         UPDATEDBY,
			   UPDATED_TIME       UPDATEDTIME 
		  FROM T_RBAC_PERMISSIONS
	]]>
	<include refid="QueryConditionSql" />
	<![CDATA[ ORDER BY CREATED_TIME DESC ]]>
	</select>
	<!-- 记录总数 -->
	<select id="count" parameterType="PermissionsDO" resultType="Integer">
	<![CDATA[ SELECT COUNT(1) FROM T_RBAC_PERMISSIONS ]]>
	<include refid="QueryConditionSql" />
	</select>
	<!-- selectByPK -->
	<select id="selectByPK" parameterType="String" resultType="PermissionsDO">
	<![CDATA[
		SELECT ID                 ID,
			   PERMISSION_CODE    PERMISSIONCODE,
			   PERMISSION_NAME    PERMISSIONNAME,
			   DESCRIPTION        DESCRIPTION,
			   CREATED_BY         CREATEDBY,
			   CREATED_TIME       CREATEDTIME,
			   UPDATED_BY         UPDATEDBY,
			   UPDATED_TIME       UPDATEDTIME 
		  FROM T_RBAC_PERMISSIONS WHERE ID = #{id}
	]]>
	</select>
	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM T_RBAC_PERMISSIONS WHERE ID = #{id}
	]]>
	</delete>
	<!-- update -->
	<update id="update" parameterType="PermissionsDO">
	<![CDATA[
		UPDATE T_RBAC_PERMISSIONS
	]]>
		<set>
			UPDATED_BY = #{updatedBy, jdbcType=VARCHAR}, 
			UPDATED_TIME = CURRENT_TIMESTAMP,
			<if test="permissionCode != null and permissionCode != ''">
				PERMISSION_CODE = #{permissionCode, jdbcType=VARCHAR},
			</if>
			<if test="permissionName != null and permissionName != ''">
				PERMISSION_NAME = #{permissionName, jdbcType=VARCHAR},
			</if>
			<if test="description != null and description != ''">
				DESCRIPTION = #{description, jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null and isDelete != ''">
				IS_DELETE = #{isDelete, jdbcType=VARCHAR},
			</if>
		</set>
	<![CDATA[ WHERE ID = #{id} ]]>
	</update>
	<!-- updateAll -->
	<update id="updateAll" parameterType="PermissionsDO">
	<![CDATA[
		UPDATE T_RBAC_PERMISSIONS
			SET UPDATED_BY = #{updatedBy, jdbcType=VARCHAR},
				UPDATED_TIME = CURRENT_TIMESTAMP,
				PERMISSION_CODE = #{permissionCode, jdbcType=VARCHAR},  
				PERMISSION_NAME = #{permissionName, jdbcType=VARCHAR},
				DESCRIPTION = #{description, jdbcType=VARCHAR}
			WHERE ID = #{id}
	]]>
	</update>
	<!-- 删除角色权限表资源记录    见下面新SQL-->
	<delete id="deleteRolePermissionsByPermissionId" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM T_RBAC_ROLE_PERMISSION WHERE PERMISSION_ID = #{id}
	]]>
	</update>
	<delete id="updateRolePermissionsByPermissionId" parameterType="java.lang.Long">
	<![CDATA[
		UPDATE T_RBAC_ROLE_PERMISSION SET IS_DELETE = '01' WHERE PERMISSION_ID = #{id}
	]]>
	</update>
</mapper>